Repository BenjaFriend/Weave_Engine, pull requests merged in 2019-03, with the labels that each got.

#22 Camera moves around using Transform and from Lua
  Weave_Engine/Weave_Engine/Core/DXCore.cpp
  Weave_Engine/Weave_Engine/Core/Game.cpp
  Weave_Engine/Weave_Engine/Entity/Camera.cpp
  Weave_Engine/Weave_Engine/Entity/Transform.cpp
  Weave_Engine/Weave_Engine/Entity/Transform.h
  Weave_Engine/Weave_Engine/Input/InputManager.cpp
  Weave_Engine/Weave_Engine/Input/InputManager.h
  Weave_Engine/Weave_Engine/Scripting/ScriptUtils.cpp
  Weave_Engine/Weave_Engine/Scripting/ScriptUtils.h
Labels: Client, P1, enhancement

#27 Added an input field for changing the field name
  Weave_Engine/Weave_Engine/Editor/EditorCore.cpp
  Weave_Engine/Weave_Engine/Editor/EditorCore.h
  Weave_Engine/Weave_Engine/Scenes/SceneManager.cpp
  Weave_Engine/Weave_Engine/Scenes/SceneManager.h
Labels: Client, P1, enhancement

#31 Scene rep
  Weave_Common/ECS/Component.h
  Weave_Common/ECS/ComponentManager.cpp
  Weave_Common/ECS/ComponentManager.h
  Weave_Common/ECS/FamilyTypeID.cpp
  Weave_Common/ECS/FamilyTypeID.h
  Weave_Common/ECS/IComponent.cpp
  Weave_Common/ECS/IComponent.h
  Weave_Common/Entity/IEntity.cpp
  Weave_Common/Entity/IEntity.h
  Weave_Common/Entity/Transform.cpp
  Weave_Common/Entity/Transform.h
  Weave_Common/Resources/ISaveable.h
  Weave_Common/Scenes/IScene.h
  Weave_Engine/Assets/Scenes/Scene_test.json
  Weave_Engine/TankGame/Networking/ClientNetworkManager.cpp
  Weave_Engine/Weave_Engine/Camera/Camera.cpp
  Weave_Engine/Weave_Engine/Camera/Camera.h
  Weave_Engine/Weave_Engine/Camera/CameraManager.cpp
  Weave_Engine/Weave_Engine/Config.h
  Weave_Engine/Weave_Engine/Core/DXCore.h
  Weave_Engine/Weave_Engine/Core/Game.cpp
  Weave_Engine/Weave_Engine/Editor/EditorCore.cpp
  Weave_Engine/Weave_Engine/Editor/EditorCore.h
  Weave_Engine/Weave_Engine/Entity/Entity.cpp
  Weave_Engine/Weave_Engine/Entity/Entity.h
  Weave_Engine/Weave_Engine/Lighting/DirLight.cpp
  Weave_Engine/Weave_Engine/Lighting/DirLight.h
  Weave_Engine/Weave_Engine/Lighting/PointLight.h
  Weave_Engine/Weave_Engine/Physics/BoxCollider.h
  Weave_Engine/Weave_Engine/Physics/RigidBody.h
  Weave_Engine/Weave_Engine/Resources/Materials/Material.h
  Weave_Engine/Weave_Engine/Resources/MeshRenderer.cpp
  Weave_Engine/Weave_Engine/Resources/MeshRenderer.h
  Weave_Engine/Weave_Engine/Scenes/Scene.cpp
  Weave_Engine/Weave_Engine/Scenes/Scene.h
  Weave_Engine/Weave_Engine/Scripting/ScriptComponent.h
  Weave_Engine/Weave_Engine/Scripting/ScriptUtils.cpp
  Weave_Engine/Weave_Engine/Scripting/ScriptUtils.h
  Weave_Engine/Weave_Engine/UI_OPTIONS.h
  Weave_Engine/Weave_Engine/Weave_Engine.vcxproj
  Weave_Engine/Weave_Engine/Weave_Engine.vcxproj.filters
  Weave_Server/Weave_Server/include/ClientProxy.h
  Weave_Server/Weave_Server/include/ServerScene.h
  Weave_Server/Weave_Server/src/Main.cpp
  Weave_Server/Weave_Server/src/ServerNetworkManager.cpp
  Weave_Server/Weave_Server/src/ServerScene.cpp
Labels: Client, P0, Server, enhancement

#33 Scene rep
  Weave_Common/ECS/Component.h
  Weave_Common/ECS/FamilyTypeID.cpp
  Weave_Common/ECS/IComponent.h
  Weave_Common/stdafx.h
  Weave_Server/Weave_Server/CMakeLists.txt
  Weave_Server/Weave_Server/include/ClientProxy.h
  Weave_Server/Weave_Server/include/ServerScene.h
Labels: Client, P0, Server, enhancement

#34 Clang warnings fix
  Jenkinsfile
  Weave_Common/ECS/ComponentManager.h
  Weave_Common/Entity/IEntity.h
  Weave_Common/Utils/ObjectPool.hpp
  Weave_Server/Weave_Server/CMakeLists.txt
  Weave_Server/Weave_Server/include/ServerUtils.h
  Weave_Server/Weave_Server/include/WeaveServer.h
  Weave_Server/Weave_Server/src/WeaveServer.cpp
  Weave_Server/server.conf
Labels: P2, Server, enhancement

#36 Lights to client
  Weave_Common/ECS/IComponent.h
  Weave_Common/Entity/IEntity.h
  Weave_Engine/Assets/Scenes/Scene_test.json
  Weave_Engine/Weave_Engine/Camera/Camera.cpp
  Weave_Engine/Weave_Engine/Core/Game.cpp
  Weave_Engine/Weave_Engine/Entity/Entity.h
  Weave_Engine/Weave_Engine/Lighting/DirLight.cpp
  Weave_Engine/Weave_Engine/Lighting/PointLight.cpp
  Weave_Engine/Weave_Engine/Lighting/PointLight.h
  Weave_Engine/Weave_Engine/Resources/MeshRenderer.cpp
  Weave_Engine/Weave_Engine/Scenes/Scene.cpp
  Weave_Engine/Weave_Engine/Scripting/ScriptUtils.cpp
Labels: Client, P2, enhancement

#42 Dll crash fix
  Weave_Common/Entity/IEntity.cpp
  Weave_Common/Logging/Logger.h
  Weave_Common/Networking/NetworkManager.cpp
  Weave_Common/Networking/NetworkManager.h
  Weave_Common/stdafx.h
  Weave_Engine/TankGame/Game/TankGame.cpp
  Weave_Engine/TankGame/Game/TankGame.h
  Weave_Engine/TankGame/Networking/ClientNetworkManager.cpp
  Weave_Engine/TankGame/Networking/ClientNetworkManager.h
  Weave_Engine/TankGame/TankGame.vcxproj
  Weave_Engine/Weave_Engine.sln
  Weave_Engine/Weave_Engine/Core/Game.cpp
  Weave_Engine/Weave_Engine/Scenes/Scene.cpp
  Weave_Engine/Weave_Engine/Weave_Engine.vcxproj
  Weave_Server/Weave_Server/include/ServerNetworkManager.h
  Weave_Server/Weave_Server/include/WeaveServer.h
  Weave_Server/Weave_Server/src/Main.cpp
  Weave_Server/Weave_Server/src/ServerNetworkManager.cpp
  Weave_Server/Weave_Server/src/WeaveServer.cpp
Labels: Client, P0, Server, bug
